@media (min-width: 1024px){
  body{
    background-color: #fff;
    margin: 0 auto;
  }

  img{
    margin-top: 10px;
  }

  .header{
    background-color: white;
    opacity: 90%;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .logo{
    float: left;
    line-height: 120px;
  }

  .menu{
    background-color: #f34b86;
    width: 100%;
    line-height: 60px;
    margin-right: 30px;
    text-align: center;
    margin-top: -11px;
    height: 60px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
  }

  .menu_bar{
    display: none;
  }

  .menu li{
    color: white;
    display: inline-block;
  }

  .menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 14px;
    line-height: normal;
    font-size: 18px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
    font-family: 'PT Serif', serif;
  }

  .menu a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .4s;
    padding: 6px;
  }

  .boton_menu{
    display: none;
    visibility: none;
  }

  input[type="checkbox"]{
    display: none;
  }

  #contenedor{
    width: 80%;
    height: 1020px;
    margin: auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  }

  .slider {
    width: 95%;
      margin: auto;
      overflow: hidden;
      margin-top: 183px;
      max-height: 450px;
}

  .slider ul {
  	display: flex;
  	padding: 0;
  	width: 500%;
  	animation: cambio 20s infinite alternate linear;
  }

  .slider li {
  	width: 100%;
  	list-style: none;
  }

  .slider img {
  	width: 100%;
    height: 450px;
  }



  @keyframes cambio {
  	0% {margin-left: 0;}
  	20% {margin-left: 0;}

  	25% {margin-left: -100%;}
  	45% {margin-left: -100%;}

  	50% {margin-left: -200%;}
  	70% {margin-left: -200%;}

  	75% {margin-left: -300%;}
  	100% {margin-left: -300%;}
  }

  section{
    width: 94%;
    padding: 15px;
    margin: auto;
    background-color: #fff;
    text-align: center;
  }

  section p{
    font-size: 18px;
    line-height: 26px;
    font-family: 'PT Serif', serif;
  }

  section h1{
    font-size: 28px;
    color: #f34b86;
    font-family: 'Lobster', cursive;
  }

  .cuadrados {
    width: 100%;
    height: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

  .cuadrado{
    width: 457px;
    height: 300px;
    float: left;
    margin-right: 20px;
    min-height: 300px;
  }

.cuadrado img{
  width: 100%;
  margin: 0;
  min-height: 300px;
  max-height: 300px;
}

  #cuadrado1 {
    margin-left: 22px;
}

#cuadrado2 {
    float: right;
    margin-right: 20px;
}

#cuadrado3 {
    margin-right: 20px;
}

  .cuadrado_transparente {
    background-color: #333;
    width: 100%;
    height: 80px;
    position: relative;
    opacity: 40%;
    bottom: 95px;
    margin-top: 10px;
}

  .cuadrado_transparente h4{
    color: white;
    text-align: center;
    position: relative;
    top: 0px;
    font-size: 20px;
    line-height: 6px;
    font-family: 'Lobster', cursive;
  }

  .boton_recetas {
      width: 150px;
      height: 50px;
      background-color: #f34b86;
      margin: auto;
      text-decoration: none;
      position: relative;
      bottom: 5px;
  }

.boton_recetas h3 {
    line-height: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

  footer{
    width: 100%;
    height: 150px;
    background-color: #f34b86;
    margin-top: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 1.0);
  }

}
