@media (min-width: 620px) and (max-width: 1023px){
  body{
    background-color: #fff;
    margin: auto;
  }

  img{
    margin-top: 10px;
  }

  .header{
    background-color: white;
    opacity: 90%;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .logo{
    float: left;
    line-height: 120px;
  }

  .menu{
    background-color: #f34b86;
    width: 100%;
    line-height: 60px;
    margin-right: 30px;
    text-align: center;
    margin-top: -11px;
    height: 60px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
  }

  .menu_bar{
    display: none;
  }

  .menu li{
    color: white;
    display: inline-block;
  }

  .menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 14px;
    line-height: normal;
    font-size: 18px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
    font-family: 'PT Serif', serif;
  }

  .menu a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .4s;
    padding: 6px;
  }

  .boton_menu{
    display: none;
    visibility: none;
  }

  input[type="checkbox"]{
    display: none;
  }

  #contenedor{
    width: 96%;
    height: auto;
    margin: auto;
    margin-top: 190px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  }

  .redes_sociales{
    margin-right: 20px;
  }

  .redes_sociales{
    width: 90%;
    height: 180px;
    text-align: center;
    background-color: #00B0CB;
    position: relative;
    top: 40px;
    display: inline-block;
    margin-right: 89px;
    margin-left: 34px;
}

  .redes{
    background: #f34b86e6;
    width: 90%;
    height: auto;
    margin: 20px auto;
    margin-top: 20px;
  }

  .redes img {
    width: 94%;
    height: auto;
    margin-bottom: 9px;
    margin-top: 14px;
}

.columna_izq{
  display: none;
}

  #caja_instagram{
    color: blue;
    width: 90%;
    height: 140px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fff;
  }

  #caja_instagram ul li{
    background-color: #f34b86;
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0 10px;
    border-radius: 30%;
    text-align: center;
    box-shadow: 8 8px 5px 0px rgba(0,0,0, .2);
    transition: .2s;
  }

  #caja_instagram ul{
    padding: 0 0 0 0;
  }

  #caja_instagram ul li a{
    line-height: 76px;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
  }

  #caja_instagram ul:hover a{
    filter: blur(2px);
    transform: translateY(-3px) scale(1.05);
  }

  #caja_instagram ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 8 8px 5px 0px rgba(0,0,0, .2);
    filter: none;
  }

  #caja_instagram ul li .facebook:hover{
    background: var(--facebook);
  }


  .formulario {
    width: 90%;
    height: 1100px;
    margin: auto;
    margin-left: 34px;
    margin-right: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px solid #f34b86;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 40%);
    overflow: hidden;
    display: block;
    border-color: black;
    background-color: #f34b86e6;
    color: #fff;
  }

  .formulario h1{
  margin-top: 50px;
  font-family: 'Lobster', cursive;
  }

  .formulario p{
  margin: 12px 80px;
  margin-bottom: 5px;
  }

  #enviar{
  width: 20%;
  height: 50px;
  }

  #enviar h5{
  font-size: 16px;
  position: relative;
  top: -7px;
  }

    input {
  background-color: #fbfbfb;
  width: 80%;
  height: 40px;
  border-width: 6px;
  border-color: #f34b86;
  padding-left: 10px;
  margin-bottom: 50px;
  }

  h4 {
    float: left;
    margin-left: 50px;
    margin-top: -45px;
  }

  form{
  margin-top: 92px;
  }
  span .obligatorio{
  position: relative;
  top: 20px;
  margin-bottom: 30px;
  }

  .aviso{
  margin-bottom: 20px;
  }

  #mensaje{
  width: 80%;
  height: 50px;
  }

  textarea{
  margin: 0px;
    width: 80%;
    height: 253px;
    max-height: 140px;
    max-width: 80%;
  }
  button{
  width: 80px;
  height: 40px;
  margin-bottom: 60px;
  line-height: 5px;
  }

  .obligatorio{
      position: relative;
      top: -59px;
      margin-left: -10px;
  }


  footer{
    width: 100%;
    height: 150px;
    background-color: #f34b86;
    margin-top: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 1.0);
  }

  }
